﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="internetstoktakip._default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        #form1 {
            height: 295px;
        }
        .auto-style1 {
            width: 800px;
            height: 191px;
        }
        .auto-style2 {
            height: 201px;
        }
        .auto-style3 {
            height: 23px;
        }
    </style>
</head>
<body style="height: 145px; width: 800px;">
    <form id="form1" runat="server">
    <div>
<table style="width: 798px; height: 363px">
    <tr>
        <td class="auto-style2" colspan="3">
            <img alt="" class="auto-style1" src="images/AstoStokTakip_Banner.jpg" /></td>
        
    </tr>
    <tr>
        <td colspan="2">
            <asp:Label ID="Label1" runat="server" Text="STOK ID"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        </td>
        <td rowspan="2">
            <asp:Repeater ID="Repeater1" runat="server">
                <HeaderTemplate>
                    <table>
                        <tr>
                            <td>ÜrünMarkası</td>
                            <td>StokAdeti</td>
                            <td>ToplamAdeti</td>
                            <td>HaftalıkSatışAdeti</td>

                        </tr>
                    
                </HeaderTemplate>
                <ItemTemplate>
                    <tr>

                        <td><%# Eval("UrunMarkasi") %></td>
                        <td><%# Eval("StokAdeti") %></td>
                        <td><%# Eval("ToplamAdeti") %></td>
                        <td><%# Eval("HaftalikSatisAdeti") %></td>

                    </tr>
                </ItemTemplate>
                <FooterTemplate>
                    </table>
                </FooterTemplate>
            </asp:Repeater>
        </td>
        
    </tr>
    <tr>
        <td colspan="2">
            <asp:Label ID="Label2" runat="server" Text="ÜRÜN ADI"></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
&nbsp;&nbsp;&nbsp;&nbsp;<asp:Button ID="Button1" runat="server" Text="ÜRÜN ARA" OnClick="Button1_Click1" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        
    </tr>
    <tr>
        <td class="auto-style3">
            <asp:Label ID="Label3" runat="server"></asp:Label>
        </td>
        <td class="auto-style3"></td>
        <td class="auto-style3"></td>

        <asp:Label ID="Lblsayac" runat="server" Text="Label"></asp:Label>
        
    </tr>
</table>
    </div>
    </form>
</body>
</html>
