﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="StokGiriş.aspx.cs" Inherits="internetstoktakip.StokGiriş" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    
        <asp:Label ID="Lbl" runat="server" Text="Label"></asp:Label>
    
       

        <asp:DataList ID="DataList1" runat="server">
            <ItemTemplate>
                STOK ID=<%# Eval("StokID") %>
                <br />
                ÜRÜN ADI=<%# Eval("UrunAdi") %>
                <br />
                ÜRÜN MARKASI=<%# Eval("UrunMarkasi") %>
                <br />

                <asp:Button ID="Button1" runat="server" Text="Ekle" /><asp:Button ID="Button2" runat="server" Text="Sil" />
                <hr />
            </ItemTemplate>
        </asp:DataList>
    
    </form>
</body>
</html>
